.score-screen-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 85vh;
}

.score-screen {
  padding: 5vw 7vw;
  text-align: center;

  border-radius: 10px;
  background: rgba(255, 255, 255, 0.1);
  transition: all 0.2s ease-in-out;

  backdrop-filter: blur(5px);
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(255,255,255,0.5);
  border-right: 1px solid rgba(255,255,255,0.2);
  border-bottom: 1px solid rgba(255,255,255,0.2);
}

h1 {
  font-size: 5rem;
}

p {
  font-size: 2rem;
  font-weight: 300;
}

.button-container {
  border-radius: 10px;
  background: rgba(255, 255, 255, 0.1);
  transition: all 0.2s ease-in-out;


  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(255,255,255,0.5);
  border-right: 1px solid rgba(255,255,255,0.2);
  border-bottom: 1px solid rgba(255,255,255,0.2);
  padding: 10px;
}

button {
  padding: 20px 40px;
  font-size: 2rem;
  border-radius: 10px;
  background: rgba(255, 255, 255, 0.1);
  transition: all 0.2s ease-in-out;
  backdrop-filter: blur(5px);

  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(255,255,255,0.5);
  border-right: 1px solid rgba(255,255,255,0.2);
  border-bottom: 1px solid rgba(255,255,255,0.2);
}

button:hover {
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
  scale: 0.99;
}

.button-container:hover {
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
  scale: 0.99;

}

.stats-container {
  margin-block: 5vw;
}

.keys-container {
  pointer-events: none;
  position: absolute;
  display: flex;
  gap: 30vw;
  left: 5vw;
  top: 0;
  scale: 1.5;
  transform: rotate(15deg);
}

.keys-container-2 {
  pointer-events: none;
  position: absolute;
  display: flex;
  gap: 25vw;
  left: -30vw;
  top: 100vw;
  scale: 2;
  transform: rotate(85deg);
}

.buttons-section {
  display: flex;
  justify-content: center;
}
