
<div class="score-screen-container">
  <div class="score-screen">
    <h1>Stats</h1>

    <div class="stats-container">
      <p class="main-stat">Better than {{scoreService.getBetterThanPercentage()}}% of the players</p>
      <p>Score: {{ scoreService.getScore() }}</p>
      <p>Highest Combo: {{ scoreService.getHighestCombo() }}</p>
      <p>Accuracy: {{ scoreService.getAccuracy() }}</p>
    </div>


    <div class="buttons-section">
      <div class="button-container">
        <button (click)="startGame()">Start Game</button>
      </div>
    </div>

  </div>

</div>

<div class="keys-container">
  <app-keys-layout [keyStateList]="leftList"></app-keys-layout>
  <app-keys-layout [keyStateList]="rightList"></app-keys-layout>
</div>

<div class="keys-container-2">
  <app-keys-layout [keyStateList]="leftList"></app-keys-layout>
  <app-keys-layout [keyStateList]="rightList"></app-keys-layout>
</div>


