.menu-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  font-size: 7vw;
  margin: 0;
  text-align: center;
}

.keys-container {
  pointer-events: none;
  position: absolute;
  display: flex;
  gap: 25vw;
  left: 0;
  scale: 1.5;
  transform: rotate(15deg);
}
