<div class="header">
  <h1>COORD</h1>
</div>

<div *ngIf="!gameStarted" class="start-countdown">
  <h2>{{ gameManagerService.getStartCountdown() }}</h2>
</div>

<div  class="countdown-container">
  <h2>{{ gameManagerService.getGameCountdown() }}</h2>

</div>

<div *ngIf="gameStarted" class="score-container">
  <h2>{{scoreService.getScore()}}</h2>
  <p>combo : {{combo}}</p>
</div>

<div class="keys-container">
  <app-keys-layout [keyStateList]="leftList" [layoutClass]="'left-side'"></app-keys-layout>
  <app-keys-layout [keyStateList]="rightList" [layoutClass]="'right-side'"></app-keys-layout>
</div>
