.keys-container {
  display: flex;
  justify-content: space-between;
}

.start-countdown {
  position: absolute;
  pointer-events: none;
  width: 100%;
  left: 0;
  top: 0;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.score-container {
  position: absolute;
  pointer-events: none;
  width: 100%;
  left: 0;
  top: 0;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  opacity: 0.1;
}

.score-container h2 {
  font-size: 7rem;
  margin: 0;
}

.score-container p {
  font-size: 2rem;
  margin: 0;
}

.start-countdown h2 {
  font-size: 7rem;
}

.countdown-container h2 {
  font-size: 2rem;
  margin: 0;
}

.header {
  text-align: center;
  opacity: 0.6;

}

.countdown-container {
  text-align: center;
  opacity: 0.4;
  margin-bottom: 10vw;
}
