.key-container {
  width: 10vw;
  height: 10vw;
  display: flex;
  border-radius: 1.4vw;
  justify-content: center;
  align-items: center;

  backdrop-filter: blur(10px);
  box-shadow: 0 25px 45px rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(255,255,255,0.5);
  border-right: 1px solid rgba(255,255,255,0.2);
  border-bottom: 1px solid rgba(255,255,255,0.2);
  transition: all 0.2s ease;

}

.square {
  width:90%;
  height:90%;
  /*box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;*/
  /*box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;*/
  /*box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;*/
  border-radius: 1vw;

  backdrop-filter: blur(10px);
  box-shadow: 0 25px 45px rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(255,255,255,0.5);
  border-right: 1px solid rgba(255,255,255,0.2);
  border-bottom: 1px solid rgba(255,255,255,0.2);
  transition: background-color 0.2s ease;
}

.active {
  background-color: rgb(0, 0, 0);
}

.inactive {
  background: rgba(255, 255, 255, 0.1);
}

.pressed {
  background: rgba(255, 255, 255, 1);

}

.error {
  background-color: #dc3636;
}
