.square {
  width: 10vw;
  height: 10vw;
  transition: background-color 0.1s ease;
}

.active {
  background: blue;
}

.inactive {
  background: black;
}

.pressed {
  background: green;
}

.error {
  background: red;
}
